@model ProdutoAPI.Models.CategoriaProduto

@{ ViewBag.Title = "Cadastrar Categoria";}

<h2>@ViewBag.Title</h2>

<form asp-controller="Categorias" asp-action="Add" method="post" class="form-horizontal" role="form">
    <div class="form-horizontal">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="DescricaoCategoria" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DescricaoCategoria" class="form-control" />
                <span asp-validation-for="DescricaoCategoria" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Incluir" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
